body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: linear-gradient(180deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

nav li a {
  font-size: 18px;
  color: #1F1534;
  opacity: 0.5;

  text-decoration: none;
}

nav li a:hover {
  opacity: 1;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.esquerda {
  width: 489px;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-weight: normal;
  
}

h1 span {
  font-weight: bold;
  color: #89C5CC;
}

.paragrafos {
  margin-bottom: 40px;
}

.paragrafos p {
  width: 438px;
  color: #7D7987;
  
  line-height: 28px;
  font-size: 14px;
}

button {
  color: white;
  text-transform: uppercase;

  background: #69B99D;
  border: 0;
  padding: 14px 32px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;

  cursor: pointer;
}

footer {

  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  display: flex;
  margin-top: 80px;
  justify-content: center;

  gap: 8px;

}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: red;
}

#balls {
  position: absolute;
  bottom: 0;
  right: 0;
}

